<!DOCTYPE html>
<html>
<head>
	<title> D'oh - LoLFire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="League of Legends Stats">
    <meta name="author" content="Alejandro Perezpayá">
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

    <!-- Le styles -->
    <link href="../../../../css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../../../../css/bootstrap-responsive.css" rel="stylesheet">

</head>

<body>
	<h1>D'oh!</h1>
	<img class="pull-left sepate-right" src="../../err.jpg">
	<h4>Dude, there has been an error, but dont panic, our server is reconnecting to this League of Legends region to keep providing you this service</h4>

<script src="../../../../js/bootstrap.js"></script>
<% include footer.ejs %>
</body>
</html>