<!DOCTYPE html>
<html>
<head>
	<title>Welcome to LoLFire</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="League of Legends Stats. League of Legends REST API">
    <meta name="author" content="Alejandro Perezpaya">
    <meta charset="UTF-8">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="../../../../js/bootstrap.js"></script>
	<link href="../../../../css/bootstrap.css" rel="stylesheet">
</head>
<body>

	<% include nav.ejs %>

	<div class="container">
	
		<h1>Thank you for supporting lolfire! You are helping this to get bigger!</h1>

	</div>

	<% include footer.ejs %>

</body>
</html>